# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so

# ========================
# Virtual Environments
# ========================
.venv/
venv/
ENV/
env/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp
*.swo
*~

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Distribution / Build
# ========================
dist/
build/
*.egg-info/
*.egg

# ========================
# Logs & Temp
# ========================
*.log
*.tmp
*.bak


# ========================
# Specific files
# ========================
informe_machine_p3.tex

*.pdf